.form {
  max-width: 371px;
  margin: 0 auto;
  display: flex;
  gap: 8px;
}

.form label {
  display: inline-block;
}

.form input {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;

  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.form input:not(:placeholder-shown) {
  border-color: #4e75ff;
  outline: none;
}

.form button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  background-color: #4e75ff;

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form button:hover {
  background-color: #6c8cff;
}
